.checkox-with-extra{
  display: flex;
  flex-direction: row;

  // .checkbox {
  //   width: 80px;
  // }

  .extra-editors{
    > .extra-editors-label {
      width: 120px;
      font-size: smaller;
      text-align: right;
      padding-right: 10px;
    }
    display: flex;
  } 
}