@import './index.less';
.form-item{
  display: flex;
  flex-direction: row;
  width: 100%;
  // 这个时常规Input的高度
  line-height: @normalInputHeight;
  
  .formItem-label {
    height: @normalInputHeight;
    display: flex;
    flex-direction: row-reverse;
    > label {
      padding-right: @labelPaddingRight;
      height: @normalInputHeight;
      line-height: @normalInputHeight;
      color: rgba(0,0,0,.85);
      font-size: @normalFontSize;
      text-align: right;
    }
  }

  .formItem-main {
    > span {
      height: @normalInputHeight;
      line-height: @normalInputHeight;
    }
    // TODO
    // 考虑加入一个错误样式用于报渲染的错误
  }

  .formItem-error{
    text-align: left;
    color: red;
  }
}