@import "../../index.less";
.array-custom{
  margin-top: @normalInputHeight;
  .button-add {
    text-align: right;
  }

  .array-form {
    .title {
      display: flex;
      flex-direction: row;
      height: @normalInputHeight;
      line-height: @normalInputHeight;
      > div {
        margin-left: 4px;
        height: @normalInputHeight;
        > * {
          height: @normalInputHeight;
          height: @normalInputHeight;
        }
      }
    }
  }
}